* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --fondo-principal: #ffffff;
  --fondo-header: #000000;
  --color-header-hover:#48acc5;
  --fondo-sidebar: #9cf0ff;
  --fondo-main: #f1f7f8;
  --fondo-footer: #88b0ba;
  --alto-header: 100px;
  --alto-footer: 100px;
  --ancho-sidebar: 200px;
  --color-texto: #dadada;
  --color-sidebar-texto: #333;
  --color-sidebar-hover: #48cdc2;
  --box-shadow: 0 4px 8px rgba(0, 20, 169, 0.1);
  --border-radius: 1px;
  --padding-sidebar: 2rem;
}
body {
  background-color: var(--fondo-header);
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 100px auto 100px;
  grid-template-areas:
    "header header header"
    "sidebar main   main"
    "footer footer footer";
  height: 100vh;
}
header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}
header div img{
  width:80px;
  margin-left: 20px;
}



header div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}


header div nav ul {
  display: flex;
  gap: 100px;
  list-style: none;
  margin-right: 20px; 
  
}

nav ul li a {
  text-decoration: none;
  color: var(--color-texto);
  font-weight: bold;
  
}

header ul li a:hover{
  color: var(--color-header-hover);
}
aside {
  grid-area: sidebar;
  width: var(--ancho-sidebar);
  background-color: var(--fondo-sidebar);
  padding: var(--padding-sidebar);
  border-right: 1px solid #ddd;
  box-shadow: var(--box-shadow);
  font-weight: bold;
  border-radius: var(--border-radius);
  color: var(--color-sidebar-texto);
  transition: box-shadow 0.3s;
}

aside:hover {
  box-shadow: 0 8px 16px rgba(0, 20, 169, 0.15);
}

aside ul li {
  list-style: none;
  margin-bottom: 12px;
}

aside ul a {
  text-decoration: none;
  color: var(--color-sidebar-texto);
  padding: 8px 12px;
  border-radius: 6px;
  transition: background 0.2s, color 0.2s;
  display: block;
}

aside ul a:hover {
  background: var(--color-sidebar-hover);
  color: var(--color-texto);
}

aside h3 {
  margin-bottom: 20px;
}

main {
  background-color: var(--fondo-main);
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,1fr);
  justify-items: center;
}

main article
{
border: 1px solid #ccc;
padding: 16px;
margin: 10px; 
display:inline-block;
width: 250px;
box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

figure
{
  margin: 0 0 16px 0;
}

img
{
  object-fit: cover;
  width: 100%;
  display: block;
}

h3{
  margin-top:0;
  color: #333;
}

p{
  color: #666;
  font-size: 14px;
}




footer {
  background-color: var(--fondo-footer);
  grid-area: footer;
}